#!/bin/sh

# Start icon tray
trayer --edge top --align right --widthtype request --padding 6 --SetDockType true --SetPartialStrut true --expand true --monitor 0 --transparent true --alpha 0 --tint 0x2e3440  --height 22 &

# Set default cursor
xsetroot -cursor_name left_ptr

# Get speedy keys
xset r rate 210 40

# Set background
nitrogen --restore &

# Start picom
picom &

# Start dunst
dunst &

# Start network-manager applet
nm-applet &

# Start Redshift
redshift-gtk &

# Fix Dunst
systemctl --user import-environment DISPLAY

# Load .Xresources
xrdb -merge ${XDG_CONFIG_HOME:-$HOME/.config}/x11/.Xresources
