#!/bin/sh

# Dunst fix
systemctl --user import-environment DISPLAY

# Default cursor
xsetroot -cursor_name left_ptr

# Speedy keys
xset r rate 210 40

# Load .Xresources
xrdb -merge ${XDG_CONFIG_HOME:-$HOME/.config}/x11/.Xresources
